{% extends 'base.html' %}

{% block head %}
<title>Carter Hagans - Home</title>
{% endblock %}

{% block body %}
<body id="homebody">
    <h1 id="homeheader">Welcome!</h1>
    <p id="homedesc">Hello! Thank you for visiting this site,
        throughout this website you will be able to view various
        different projects I have worked on, as well as options
        of being able to contact me will be provided on this website.
        To get started, you can click the button below to look at my
        previous projects or you can use the navigation bar at the top
        to navigate to a specific page!

    </p>
    <a href="/experience">
    <button id="directtoprojects">Projects</button>
    </a>

</body>



{% endblock %}