{% extends 'base.html' %}

{% block head %}
<title>Carter Hagans - Purchase Form</title>
{% endblock %}

{% block body %}
<form action="" method="post">
    <input type="email" placeholder="Your email: " name="requestemail" id="requestemail">
    <select id="requestlanguage" name="requestlanguage">
        <option value="Python">Python</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Lua">Lua</option>
    </select>
    <textarea type="text" name="RequestedCode" placeholder="What would you like me to code?" id="request"></textarea>
    <input type="submit" id="purchaseformsubmit">
</form>


{% endblock %}