{% extends 'base.html' %}

{% block head %}
<title>Carter Hagans - Purchase</title>
{% endblock %}

{% block body %}
<h1 id="purchaseHeader">Buy a Service</h1>
<p id="purchaseDescription">Hello! Thank you for considering to purchase a service
    from me! On the next page, you will be able to fill out a form. This form will
    be a form of interest, it does not require you to purchase anything. The form
    will ask you which language you would like the project in, what kind of software
    you would like, and if there is a specific deadline. If you have any other 
    questions, you can feel free to reach out to me for any other questions.
</p>
<a href="/purchase/form">
<button id="nextPage">Next Page</button>
</a>
{% endblock %}  